*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    
}
#title{
    text-align: center;
    margin:20px;
    font-family: 'Lobster', cursive;    
}
#table{
  
    min-height: 100px;
    button{
        border: none;
    }
  
    tr:nth-child(odd){
        background-color: #d89cd1;
       
    }
}
#form{
    input{
        width: 80%;
        height: 40px;
        margin-right: 5px;
    }
}
