body{
    background-image: linear-gradient(to top right, 
    #CC64A2,
    #5C3075
    
);
text-align: center;
min-height: 100vh;
line-height: 20px;
}
#title{
    text-align: center;
    margin:20px;
    font-family: 'Lobster', cursive;    
}
#table{
    min-height: 100px;
    button{
        border: none;
    }
  
    tr:nth-child(odd){
        background-color: #d89cd1;
       
    }
}
#form{
    input{
        width: 80%;
        height: 40px;
        margin-right: 5px;
    }
}
